<nav class="xp-taskbar" role="navigation" [attr.aria-label]="'XP taskbar'">
  <button class="xp-start" mat-button type="button" [matMenuTriggerFor]="startMenu"
    [attr.aria-label]="'common.actions.start' | translate">
    <img class="xp-start__logo" src="/assets/images/system/logo_xp.png" alt="Start logo" />
    <span class="xp-start__text">{{ 'common.actions.start' | translate }}</span>
    <span class="xp-start__right-cap" aria-hidden="true"></span>
  </button>

  <div class="xp-main">
    <div class="xp-tabs">
      @for (win of windows; track win.id) {
      <button type="button" class="xp-tab" [class.xp-tab--active]="win.active && win.state === 'open'"
        [class.xp-tab--minimized]="win.state === 'minimized'" (click)="onWindowTabClick(win.id)">
        {{ win.titleKey | translate }}
      </button>
      }
    </div>

    <div class="xp-main__fill"></div>

    <button class="xp-lang" mat-button type="button" [matMenuTriggerFor]="langMenu"
      [attr.aria-label]="'common.actions.language' | translate">
      {{ currentLang }}
    </button>
  </div>

  <div class="xp-tray" role="status" [attr.aria-label]="'common.status.time' | translate">
    <span class="xp-clock">{{ time }}</span>
  </div>
</nav>

<mat-menu #startMenu="matMenu" xPosition="after" yPosition="above" class="xp-start-menu-panel">
  <div class="xp-start-menu">
    <div class="xp-start-menu__header">
      <div class="xp-start-menu__avatar">
        <img src="/assets/images/system/avatar_xp.jpg" [attr.alt]="'common.avatarAlt' | translate" />
      </div>
      <div class="xp-start-menu__name">{{ userName || ('login.form.nameLabel' | translate) | titlecase }}</div>
    </div>

    <div class="xp-start-menu__body">
      <div class="xp-start-menu__left">
        @for (app of startMenuApps; track app.id) {
        <button class="xp-start-item" type="button" (click)="openApp(app.id)">
          <img [src]="app.iconSrc" [attr.alt]="app.titleKey | translate" />
          <span>{{ app.titleKey | translate }}</span>
        </button>
        }

        <div class="xp-start-menu__left-sep"></div>

        <button class="xp-start-all-programs" type="button">
          <span>{{ 'common.startMenu.allPrograms' | translate }}</span>
          <span class="xp-start-all-programs__arrow"></span>
        </button>
      </div>

      <div class="xp-start-menu__right">
        <button class="xp-right-item" type="button" (click)="openAppByType('my-pc')">
          {{ 'common.startMenu.myComputer' | translate }}
        </button>
        <button class="xp-right-item" type="button" (click)="openAppByType('photo-viewer')">
          {{ 'common.startMenu.myPictures' | translate }}
        </button>
        <button class="xp-right-item" type="button" (click)="openAppByType('internet-explorer')">
          {{ 'common.startMenu.internet' | translate }}
        </button>
        <div class="xp-right-sep"></div>
        <button class="xp-right-item" type="button">{{ 'common.startMenu.helpSupport' | translate }}</button>
        <button class="xp-right-item" type="button">{{ 'common.startMenu.search' | translate }}</button>
        <button class="xp-right-item" type="button">{{ 'common.startMenu.run' | translate }}</button>
      </div>
    </div>

    <div class="xp-start-menu__footer">
      <button class="xp-power-btn xp-power-btn--logout" type="button" (click)="onLogout()">
        <span class="xp-power-btn__icon-box" aria-hidden="true">
          <span class="xp-power-btn__icon-text">🗝</span>
        </span>
        <span class="xp-power-btn__label">{{ 'common.actions.logout' | translate }}</span>
      </button>

      <button class="xp-power-btn xp-power-btn--off" type="button" (click)="onTurnOff()">
        <span class="xp-power-btn__icon-box" aria-hidden="true">
          <span class="xp-power-btn__icon-text">⏻</span>
        </span>
        <span class="xp-power-btn__label">{{ 'common.actions.turnOffComputer' | translate }}</span>
      </button>
    </div>
  </div>
</mat-menu>

<mat-menu #langMenu="matMenu" xPosition="before" yPosition="above" class="xp-lang-menu-panel">
  <button mat-menu-item type="button" (click)="setLang('es')">
    <img class="xp-flag" src="/assets/images/flags/es.svg" alt="Español" />
    <span>{{ 'common.languages.es' | translate }}</span>
  </button>
  <button mat-menu-item type="button" (click)="setLang('en')">
    <img class="xp-flag" src="/assets/images/flags/en.svg" alt="English" />
    <span>{{ 'common.languages.en' | translate }}</span>
  </button>
  <button mat-menu-item type="button" (click)="setLang('fr')">
    <img class="xp-flag" src="/assets/images/flags/fr.svg" alt="Français" />
    <span>{{ 'common.languages.fr' | translate }}</span>
  </button>
</mat-menu>